a:link{
    color: #007e7e;
    text-decoration:none;
}
a:visited{
    color: grey;
}
a:hover{
    text-decoration:underline;
}
p{
    font-size: 36px;
    text-align: center;
    border: thin solid #007e7e;
    padding: 100px;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;

}